# Q.1 Finding the percentage

In [1]:
n = int(input())
student_marks={}
for i in range(n):
    name, *line=input().split()
    scores=list(map(float,line))
    student_marks[name]=scores
student_name=input()
a=student_marks[student_name]    
b=sum(a)/3
c=round(b,2)
print("{0:.2f}".format(c))

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Arjun
77.00

# Q.2 In Python, a string can be split on a delimiter.

In [1]:
a = "this is a string"
a = a.split(" ")
b="-".join(a)
print(b)

this-is-a-string

# Q.3 Set .intersection() Operation

In [2]:
n=int(input())
n1=set(map(int,input().split()))
m=int(input())
m1=set(map(int,input().split()))
ans=n1.intersection(m1)
count=0
for i in ans:
    count=count+1
print(count)

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

#  Q.4 Find the Runner-Up Score.

In [3]:
if __name__ == '__main__':
    n = int(input())
    arr = set(map(int, input().split()))
    print(sorted(arr)[-2])

5
2 3 6 6 5
5

## Q.5 SWAP CASE

In [4]:
def swap_case(s):
    return s.swapcase()
a = swap_case('edYoda')
print(a)

EDyODA

## Q.6 Arithmatic operators

In [5]:
a=int(input())
b=int(input())
print(a+b)
print(a-b)
print(a*b)

3
2
5
1
6

## Q.7 Python: Division

In [7]:
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

4
3
1
1.3333333333333333

## Q.8 Python If-Else

In [8]:
n=int(input())
if n%2!=0:
    print('weird')
else:
    if n>=2 and n<=5:
        print('Not Weired')
    elif n>=5 and n<=20:
        print('weird')
    else:
        print('Not Weird')

24
Not Weird

## Q.9 Nested Lists

In [1]:
n=int (input())
res=[]
grade=[]
for i in range(n):
    name=input() 
    mark=float(input())
    res.append( [name,mark]) 
    grade.append(mark)
grade=sorted (set (grade)) 
m=grade [1]
name=[]
for val in res:
    if m==val [1]:
        name.append (val[0])
name.sort()
for nm in name:
    print (nm)

5
Harry
37.25
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry

## Q.10 loop

In [2]:
n=int(input())
for i in range(n):
    print(i*i)

5
0
1
4
9
16

## Q.11 Write a function

In [3]:
def is_leap(year):
    leap = False
    if (year %4==0) and (year %100!=0 or year %400==0):
        leap = True
    return leap
a=is_leap(2020)
print(a)

True

## Q.12 Find a string

In [5]:
def count_substring(string, sub_string):
    count = 0
    for i in range(len(string)-len(sub_string)+1):
        if (string[i:i+len(sub_string)] == sub_string):
            count += 1
    return count

if __name__ == '__main__':
    string = input().strip()
    sub_string = input().strip()
    
    count = count_substring(string, sub_string)
    print(count)

ASCDCDC
CD
2

## Q.13 Lists

In [2]:
if __name__ == '__main__':
    N = int(input())
    Output = []
    for i in range(0,N):
        ip = input().split();
        if ip[0] == "print":
            print(Output)
        elif ip[0] == "insert":
            Output.insert(int(ip[1]),int(ip[2]))
        elif ip[0] == "remove":
            Output.remove(int(ip[1]))
        elif ip[0] == "pop":
            Output.pop();
        elif ip[0] == "append":
            Output.append(int(ip[1]))
        elif ip[0] == "sort":
            Output.sort();
        else:
            Output.reverse();

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]